#root {
  max-width: 100%;
      width: 100%;
  margin: 0 auto;
}
.all-btns,.flex{
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
h1{
  font-size: 42px;
}
.flex{
  gap: 20px;
}
.single-data{
  padding: 10px;
  border: 1px solid rgba(121, 121, 6, 0.867);
}
.counter-sec {
  background: linear-gradient(135deg, #e0f7fa, #e3f2fd);
}

.counter-app h1 {
  font-size: 5rem;
}

.counter-sec .card {
  border: none;
  border-radius: 1.5rem;
}

.counter-sec button {
  width: 200px;
}
:root {
  --primary-color: #142c50;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color: var(--primary-color);
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: var(--primary-color);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary-color);
  --bs-btn-active-border-color: var(--primary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--primary-color);
  --bs-btn-disabled-border-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color) !important;
}

.form-label {
  color: var(--primary-color) !important;
      font-weight: 600;
}
.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--primary-color);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(20, 44, 80, 0.25); 
}
.form-check-input:checked {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.form-wrapper svg {
    color:var(--primary-color) !important;
}
.hero-sec h1{
  width: 60%;
}
.min-height{
  min-height: 100vh;
}
.center-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.container{
  max-width: 1280px !important;
}
.site-header{
background-color:var(--primary-color) !important;
position: fixed;
width: 100%;
top: 0;
}
.site-logo a,.header-menu a{
  color: #fff;
}
.site-logo a:hover,.header-menu a:hover{
  color: #d4d3d3;
}